@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Yatra+One&display=swap');

body{
    font-family: 'Indie Flower', cursive;
    
    background-color: #BEADFA
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.titulo {
    
    color: black;
    font-size: 50px;
    font-family: 'Yatra One', cursive;
    
}


.subtitulo{
color: white;
font-size: 24px;
}

.tarjetas ,.tarjetas-ataques
    
{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{ 
    width: 200px;
    height: 100px;
    background-color: #DFCCFB;
    padding: 10px;
    box-sizing: border-box;
   border-radius: 20px;
   display: flex;
   justify-content:center ;
   align-items: center;
   color:black;
}

.tarjeta-de-mokepon img{
    width: 80px;
}

#boton-mascota{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: black;
    font-family: 'Indie Flower', cursive;
    margin: 20px 20px 20px 20px ;
}

input {
    display: none;
}

input:checked + label{
   background-color: rgb(225, 118, 225);
}

#seleccionar-ataque{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque{
    background-color:#DFCC ;
    padding: 10px;
    box-sizing: border-box;
   border-radius: 20px;
   border-color: transparent;
   width: 100px;
   font-family: 'Indie Flower', cursive;
   color: black;


}

#mensajes {

    width: 280px;
    background-color: #974EC3;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#boton-reiniciar{
    border :transparent;
    color:black;
    font-family: 'Indie Flower', cursive;
}
.ata{
    display: grid;
    grid-template-columns: 100px 100px;
    color: #974EC3;
}

#vidas-jugador , #vidas-enemigo{
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-ju,.ataques-ene{

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 360px){
    .tarjetas, .tarjetas-ataques{
        flex-direction: column;
    }
}

